In [1]:
import os
os.listdir()

['.idea',
 '.ipynb_checkpoints',
 '2022-02-09-12-47.txt',
 '2022-02-09-12-48.txt',
 'Automated_Emails',
 'Calories_App',
 'Cinema-Ticket-Booking',
 'dictionary',
 'Error_Log.txt',
 'example.py',
 'Flatmates_Bill',
 'Flatmates_Bill_Web_App',
 'geocoding.ipynb',
 'git_learning',
 'instant_dictionary_api',
 'instant_dictionary_webapp',
 'Math_Painting',
 'myfunction.py',
 'myprogram.py',
 'PERSONAL_PORTFOLIO',
 'Photo_Searcher',
 'Pirple',
 'selenium_project',
 'supermarkets.json',
 'T&T-Database',
 'weather_app_django-master',
 'weather_by_hour',
 'Webcam_Photo_Sharer',
 'with_git']

In [2]:
import pandas
import geopy

In [9]:
from geopy.geocoders import Nominatim

In [11]:
geolocator = Nominatim(user_agent="ernestchukwunta@yahoo.com")
location = geolocator.geocode("175 5th Avenue NYC")
print(location.address)

Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York, 10010, United States

>>> from geopy.geocoders import Nominatim
        >>> geolocator = Nominatim(user_agent="specify_your_app_name_here")
        >>> location = geolocator.geocode("175 5th Avenue NYC")
        >>> print(location.address)
        Flatiron Building, 175, 5th Avenue, Flatiron, New York, NYC, New York, ...
        >>> print((location.latitude, location.longitude))
        (40.7410861, -73.9896297241625)
        >>> print(location.raw)
        {'place_id': '9167009604', 'type': 'attraction', ...}

help(geopy.geocoders)

In [12]:
df=pandas.read_json("supermarkets.json")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [13]:
df["Address"] = df["Address"]+", "+df["City"]+", "+df["State"]+", "+df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df["Coordinates"]=df["Address"].apply(geolocator.geocode)

In [15]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis..."

In [16]:
df["Coordinates"]

0    (3666, 21st Street, Noe Valley, San Francisco,...
1    (735, Dolores Street, Liberty Street Historic ...
2    (332, Hill Street, Noe Valley, San Francisco, ...
3    (3995, 23rd Street, Noe Valley, San Francisco,...
4    (1056, Sanchez Street, Noe Valley, San Francis...
5    (551, Alvarado Street, Noe Valley, San Francis...
Name: Coordinates, dtype: object

In [17]:
df["Coordinates"][0]

Location(3666, 21st Street, Noe Valley, San Francisco, California, 94114, United States, (37.75648887755102, -122.42934334693878, 0.0))

In [18]:
df["Coordinates"][0].latitude

37.75648887755102

In [19]:
df["Latitude"]=df["Coordinates"].apply(lambda x: x.latitude if x != None else None)

In [20]:
df["Longitude"]=df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [21]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666, 21st Street, Noe Valley, San Francisco,...",37.756489,-122.429343
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332, Hill Street, Noe Valley, San Francisco, ...",37.755725,-122.428601
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, San Francisco,...",37.752965,-122.431714
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056, Sanchez Street, Noe Valley, San Francis...",37.752146,-122.429815
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551, Alvarado Street, Noe Valley, San Francis...",37.753673,-122.433220